.fadeMeIn {
  opacity: 0;
}


/* SECTION 1: */
#section1 {
  margin: 0;
  padding: 0;

  text-align: center;
}

#section1 img {
  padding-top: 90px;
  max-width: 100%;
  height: auto;
}



/* SECTION 2: */
#section2 {
  background-color:none;
  text-align: center;
  color: #eeeeee;
}
#section2 h1 {
  padding: 20px;
}





/* For smaller screen sizes */
@media only screen and (max-width: 768px) {


}
