html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  background-color: #222222;
}
* {
  padding: 0;
  margin: 0;
}
p {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 13pt;
}
h1 {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 60pt;
}
h2 {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 45pt;
}
h3 {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 32pt;
}
h4 {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 20pt;
}
h5 {
  font-family: 'Arial';
  font-weight: lighter;
  font-size: 15pt;
}


/* TOPBAR:
*/
#topbar {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 3.25em;
  border-bottom: 1px solid #333333;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.65);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.65);
}
#topbar .topbartitle {
  float: left;
  padding-top: 1em;
  padding-left: 2%;
}
#topbar .topbartitle a {
  text-decoration: none;
  color: #eeeeee;
}
#topbar ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 1em;
    overflow: hidden;
}
#topbar li {
    float: left;
}
/* desktop menu links */
#topbar li a, .dropbtn, #topbar form {
    display: inline-block;
    color: #eeeeee;
    text-align: center;
    padding: 1em 0.75em;
    text-decoration: none;
    transition: 0.3s;
}
/* Desktop menu items hover */
#topbar li a:hover, .dropdown:hover .dropbtn, #topbar form:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
#topbar li.dropdown {
    display: inline-block;
}
#topbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#topbar .dropdown-content a {
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
    text-align: left;
}
#topbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}
#topbar .dropdown:hover .dropdown-content {
    display: block;
}


/* menu bar clases for anmation */
.menuItem1, .menuItem2, .menuItem3, .menuItem4, .menuItem5 {
  animation-name: topbarAnimation;
}
.menuItem1 {
  animation-duration: 2.5s;

}
.menuItem2 {
  animation-duration: 2s;

}
.menuItem3 {
  animation-duration: 1.5s;

}
.menuItem4 {
  animation-duration: 1s;
}
.menuItem5 {
  animation-duration: 0.75s;
}
@keyframes topbarAnimation {
  from {opacity: 0.0}
  to {opacity: 1.0}
}




/* footer */
#footer {
    background-color: #222222;
    height: 7em;
    padding-bottom: 2em;
}
#footer .footericons {
  float: left;
  margin-top: 1.25em;
  padding-left: 15%;
}
#footer .footericons img {
  margin-right: 1em;
}
#footer .footericons p {
  color: #cccccc;
  text-align: center;
  float: right;
  margin-top: 0;
}
#footer ul {
    float: right;
    padding: 0;
    margin-top: 1.25em;
    margin-right: 5%;
    list-style-type: none;
    overflow: hidden;
}
#footer ul li {float: left;
}
#footer ul li a {
    display: inline-block;
    color: #eeeeee;
    font-family: Sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-left: 2em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12pt;
}
#footer ul li a:hover {
  color: #666666;
  transform: scale(1.1);
}
#footer ul li.icon {display: none;
}
#footer h3 {
  padding-top: 2.5em;
  text-align: center;
  color: #eeeeee;
}
#footer h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: #dddddd;
}
#footer h5 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: #dddddd;
}
#footer .copyright p {
  color: #cccccc;
  text-align: center;
  clear: both;
  padding-top: 3em;
  padding-bottom: 2em;
}



/* contact form: */
.contactform {
  background-color: #222222;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 1em;
  height: 17em;
  -webkit-transition: height 0.5s;
  -ms-transform: height 0.5s;
  transition: height 0.5s;
}
.contactform form{
  display: block;
  text-align: center;
}
.contactform input {
    padding: 0.75em;
    margin: 0.25em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10pt;
}
.contactform input[name=name] {
    width: 25em;
}
.contactform input[name=phone] {
    width: 15em;
}
.contactform textarea {
  width: 40.75em;
  height: 5em;
  padding: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  resize: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 10pt;
}
.contactform input[name=email] {
    width: 30em;
}
.contactform input[type=submit] {
    width: 10em;
    background-color: #6a6a6a;
    color: white;
    border: 1px solid #222222;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 10pt;
}
.contactform input[type=submit]:hover {
  background-color: #444444;
}
.g-recaptcha {
   padding: 1em;
   margin: 0 auto;
   width: 304px;
}





@media only screen and (max-width: 768px) {

  h1 {
    font-family: Sans-serif;
    font-size: 32pt;
  }
  h2 {
    font-family: Sans-serif;
    font-size: 27pt;
  }
  h3 {
    font-family: Sans-serif;
    font-size: 22pt;
  }


  #menuiconpic {
    display: inline-block;
    background-image: url(http://flaresoftware.com/keep-and-find/mobile/ios-resources/images/menu-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 40px;
    padding: 0.5em;
    float: right;
    cursor: pointer;
  }
  .menuicon ul, .menu-icon:active ul {
    display: none;
    padding: 0px;
    background: rgba(0, 0, 0, 0.80);
    border: 1px solid #444444;
    width: 100%;
  }
  .menuicon li {
    padding-left: 0.5em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #555555;
  }
  .menuicon li a, .menuicon li form {
    text-align: center;
    padding: 0.5em;
    height: 100%;
    width: 100%;
  }




  #footer {
    height: inherit;
    padding-bottom: 1em;
  }
  #footer .footericons {
    padding-top: 1em;
    padding-left: 40%;
  }
  #footer ul {
    float: none;
    position: absolute;
    min-width: 355px;
    padding-top: 4em;
    left: 40%;
    transform: translate(-40%, 0%);
  }
  #footer h3 {
    padding-top: 6em;
  }


.contactform {
  padding-top: 1em;
  position: inherit;
  height: 21em;
}
.contactform input[name=name] {
    width: 90%;
    margin-bottom: 0.5em;
}
.contactform input[name=phone] {
    width: 90%;
}
.contactform textarea {
  width: 90%;
}
.contactform input[name=email] {
    width: 90%;
}
.contactform input[type=submit] {
  margin-top: 1em;
  padding: 1.25em 1em 1.25em 1em;
  border-radius: 0.75em;
}


#footer .copyright p {
  padding: 4em 0.5em 1em 0.5em;
}


} /* end of responsive modifications */
